h1, h2 {
  font-family: fantasy;
  font-weight: bolder;
}

h2 {
  text-decoration: underline;
  text-align: center;
  margin: 0px;

}

#contacts {
  margin-left: 55px;
}

.me {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px:
}

p {
  text-rendering: optimizeLegibility;
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
}

body {
background-image: url(/Users/Guest/desktop/portfolio/background.jpg);
}

blockquote {
  color: gray;
  background-color: black;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
