h1, h2 {
  font-family: fantasy;
  font-weight: bolder;
}

h2 {
  text-decoration: underline;
  text-align: center;
  margin: 0px;
  font-size: 45px;
}

#contacts {
  margin-left: 55px;
  font-weight: bold;
}

.me {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px:
}

p {
  text-rendering: optimizeLegibility;
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
  color: black;
}

body {
background-image: url(http://i307.photobucket.com/albums/nn290/fearnopiston/background_zps5agrwsbk.jpg);
}

blockquote {
  color: gray;
  background-color: black;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.car {
  float: right;
  image-resolution: snap;
  height: 150px;
  margin-left: 10px;
  margin-bottom: 10px:
}

.container {
  background-color: black;
}

.well {
  background-image: url(http://i307.photobucket.com/albums/nn290/fearnopiston/textbackground_zpsjncrl305.jpg);
}

span {
  font-size: 30px;
}

ol {
  font-size: 25px;
}

a {
  color: darkgreen;
}

.project {
  text-align: left;
}
